@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    box-sizing:border-box ;
    font-family: "Poppins", serif;
}
:root{
    --main-color:rgb(60, 7, 113);
    --text-color:black;
}
section{
    padding: 50px 10%;
    background-color: #f8f9fa; 
}
img{
    width: 100%;
}
body{
    color: var(--text-color)
}
*::selection{
    color: white;
    background: var(--main-color);
}
/*custom scroll bar*/
html::-webkit-scrollbar{
    width: 0.5px;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 18px 5%;
    transition: 0.2s;
}
.logo {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
    height:2.5rem;
    margin-left: -3rem;
}
.logo img{
    height: 120px;
    margin-top:-2.75rem;
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: 16px;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
.navbar a:hover{
    background: var(--main-color);
    color: white;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none
}
section h1{
    font-size: 2.5rem;
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    display: inline-block;
    padding-bottom: 5px;
    margin-top: 4rem;
    margin-bottom: 2rem;
    align-items: center;
}
iframe{
    align-items: center;
    width: 100%;
    height: 1000px;
}
footer{
    background-color: var(--main-color);
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 1rem;
}
.footer-content{
    display: flex;
    align-items: center;
}
.copyright{
    border-right: 2px solid white;
    padding-right: 0.5rem;
}
.footer a{
    color: white;
    padding-left: 0.5rem;
}

@media (max-width: 768px) {
    header {
        padding: 11px 4%;
    }
    #menu-icon {
        display: initial;
    }
    .navbar{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: white;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        text-align: left;
    }
    .navbar.active {
        display: flex;
    }
    .navbar a {
        padding: 1rem;
        border-left: 2px solid var(--main-color);
        margin: 1rem;
        display: block;
    }
    .navbar a:hover {
        color: white;
        background: var(--main-color);
        border: none;
    }
}

@media (max-width: 480px) {
    .logo img{
        zoom: 0.8;
        max-width: 100px;
        margin-top: -2.5rem;
        margin-left: 2rem;
    }
}